In [1]:
import pandas as pd
import numpy as np

In [2]:
az1 = pd.read_csv("arizona1.csv")
az1["Analyte"] = az1["Analyte"].apply(lambda x: x.split("-")[-1])
az1["units"] = az1["Amount"].apply(lambda x: x.split(" ")[-1])
az1["units"] = az1["units"].str.replace("µ", "n")
az1["Amount"] = az1["Amount"].apply(lambda x: x.split(" ")[0]) # need to multiply by 1000 to convert to nanograms
az1['sampling_date'] = pd.to_datetime(az1['Sampling Date'] + ' ' + az1['Sampling Time'])
az1["state"] = ["Arizona"]*az1.shape[0]

az1 = az1.rename(columns = {"Unnamed: 0": "sample_id"})
az1 = az1.drop(columns = ["Sampling Date", "Sampling Time"])
az1.columns = [col.lower().replace(" ", "_") for col in az1.columns]
az1.head()

,sample_id,sampling_location,analyte,sampling_method,qual,amount,sampling_location_id,units,sampling_date,state
0,0,AH Well 22 POE,PFOS,EPA 537,<,0.04,AZ0407093,ng/L,2013-06-03 09:40:00,Arizona
1,1,AH Well 22 POE,PFBS,EPA 537,<,0.09,AZ0407093,ng/L,2013-06-03 09:40:00,Arizona
2,2,AH Well 22 POE,PFHxS,EPA 537,<,0.03,AZ0407093,ng/L,2013-06-03 09:40:00,Arizona
3,3,AH Well 22 POE,PFHpA,EPA 537,<,0.01,AZ0407093,ng/L,2013-06-03 09:40:00,Arizona
4,4,AH Well 22 POE,PFNA,EPA 537,<,0.02,AZ0407093,ng/L,2013-06-03 09:40:00,Arizona

- what to do with the sampling_method column?
- what to do with the qual column?
- how to extract additional data that isn't accessible from the pdf?

In [10]:
az2 = pd.read_csv("arizona2.csv")
az2.drop(columns = ["Unnamed: 0","PFOS/PFOA EPA Advisory Level"], inplace = True)
az2.rename(columns = {"Combined": "PFOA + PFOS"}, inplace = True)

analytes = az2.columns[2:]
non_analytes = az2.columns[:2]

az2 = pd.melt(az2, id_vars=non_analytes, value_vars=analytes, 
                    var_name='analyte', value_name='concentration')
az2

,Sample Date,Location,analyte,concentration
0,1/27/2021,4AL Raw,PFOS,0.035
1,1/27/2021,4AL Post Lead,PFOS,0.023
2,1/27/2021,4AL Post Lag (finished water),PFOS,0.0045
3,1/27/2021,10AL Raw,PFOS,0.052
4,1/27/2021,10AL Post Lead,PFOS,ND
...,...,...,...,...
1887,11/5/2014,EPDS 002 (20B ATF),Other Combined PFAs,NaN
1888,11/6/2014,EPDS 003 (Airline Reservoir),Other Combined PFAs,NaN
1889,11/6/2014,EPDS 005 (Well 10AL),Other Combined PFAs,NaN
1890,11/18/2014,EPDS 004 (Well 2AL),Other Combined PFAs,NaN
1891,11/19/2014,EPDS 006 (Well 34C),Other Combined PFAs,NaN

- what does "Other Combined PFAs" include? - drop those rows
- need pwsid, source type
- location isn't too specific either